.homepage-section {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  max-width: 540px;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

p {
  margin-bottom: 1.5rem;
  color: #555;
}

button {
  padding: 0.5rem 1.25rem;
}