/*La unidad rem es en cuanto al tamaño de la fuente raiz donde lo estoy aplicando*/
section {
  display: flex;
  /*Flexbox distribuye el espacio y alinea los elementos dentro de un contenedor*/
  height: 100vh;
  /*Establece la altura del contenedor al 100% de la ventana del navegador. Vh es viewport heigth(altura de la ventana) */
  width: 100%;
  /*Ancho del contenedor*/
  justify-content: center;
  /*Centra el contenido del contenedor horizontalmente*/
  align-items: center;
  /* Centra el contenido del contenedor verticalmente*/
  background-color: #f0f0f0;
}

form {
  max-width: 400px;
  /*Ancho máximo del formulario*/
  width: 100%;
  /*Ajusta el ancho respecto al contenedor padre*/
  padding: 2rem;
  /* Añade espacio interno alrededor de cada componente del formulario*/
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  /* Se tiene que comportar como bloque, para que ocupe todo el ancho del contenedor padre*/
  margin-bottom: 0.5rem;
  /* Esto crea un espacio entre label y el siguiente campo*/
  font-weight: bold;
  /* cambio la fuente a negrita*/
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  /*Redondea las esquinas del campo */
  box-sizing: border-box;
}


button[type="submit"] {
  width: 100%;
  /* Establece el ancho del botón al 100% del contenedor padre */
  padding: 0.75rem;
  /* Añade espacio interno alrededor del contenido del botón */
  border: none;
  /* Le saco el borde al botón */
  border-radius: 4px;
  /* Redondea las esquinas del botón */
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  /* Cambia el cursor a una mano cuando te parás arriba de el botón */
  margin-top: 2px;
  /* Añade un margen superior separar el botón del campo */
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}