.dashboard-card .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  font-weight: bold;
}

.dashboard-card .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Estilos para los selectores de filtro */
.dashboard-card .form-select {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  color: #495057;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.dashboard-card .form-select:hover {
  background-color: #dde4ec;
}

/* Ajuste de espaciado para botones en la misma línea */
.dashboard-card
  .d-flex.justify-content-between.align-items-center
  .btn-primary {
  margin-left: 10px;
}
